/* =========================================================
  Tailwind (debe ir primero para poder usar utilidades)
   ========================================================= */
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html.dark,
html:not(.dark) {
  transition: background-color 0.4s ease, color 0.4s ease;
}

html.dark body,
html:not(.dark) body {
  transition: background-color 0.4s ease, color 0.4s ease;
}

body {
  transition: background-color 0.4s ease, color 0.4s ease;
  opacity: 0;
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* ==== SCROLLBAR MODO CLARO ==== */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #ffffff; /* gray-200 */
}

::-webkit-scrollbar-thumb {
  background: #9ca3af; /* gray-400 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280; /* gray-500 */
}

/* ==== SCROLLBAR MODO OSCURO ==== */
.dark ::-webkit-scrollbar-track {
  background: #313131; /* gray-800 */
}

.dark ::-webkit-scrollbar-thumb {
  background: #4b5563; /* gray-600 */
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #6b7280; /* gray-500 */
}

