/* =========================================================
  Tailwind (debe ir primero para poder usar utilidades)
   ========================================================= */
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html.dark,
html:not(.dark) {
  transition: background-color 0.4s ease, color 0.4s ease;
}

html.dark body,
html:not(.dark) body {
  transition: background-color 0.4s ease, color 0.4s ease;
}

body {
  transition: background-color 0.4s ease, color 0.4s ease;
  opacity: 0;
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
